body {
    font-family: "微軟正黑體";
}

.breadcrumb-sec {
    max-width: 1140px;
    margin: auto;
    padding: 30px;
}

.breadcrumb-item>li {
    display: inline-block;
    padding: 0 3px;
    font-weight: lighter;
}

.breadcrumb-item>li>a {
    list-style-type: none;
    text-decoration: none;
    font-size: .9em;
    font-weight: normal;
}

.info-sec {
    display: flex;
    width: 100%;
    max-width: 700px;
    /* height: 580px; */
    margin: auto;
}

.info-sec>.aside {
    width: 33.33%;
    padding: 70px 0 0 30px;
}

@media screen and (max-width: 768px) {
    .info-sec {
        flex-direction: column;
        align-items: center;
    }
    .info-sec>.aside {
        display: flex;
        width: 66.66%;
        padding: 0;
    }
    .info-sec>.aside>a {
        margin: 0 0;
        width: 50%;
    }
}


/* info-sec 768 end */

.aside>.active {
    background-color: #FEDC5E;
    border: none;
}

.aside>a {
    display: block;
    width: 100px;
    line-height: 50px;
    text-align: center;
    background-color: white;
    border: 1px solid lightgray;
    box-sizing: border-box;
    margin: 10px 0;
}