body {
    font-family: "微軟正黑體";
    font-size: 0.95em;
    background-color: #fffbed;
}

.breadcrumb-sec {
    max-width: 1140px;
    margin: auto;
    padding: 30px;
}

.breadcrumb-item>li {
    display: inline-block;
    padding: 0 3px;
    font-weight: lighter;
}

.breadcrumb-item>li>a {
    list-style-type: none;
    text-decoration: none;
    font-size: .9em;
    font-weight: normal;
}




#content{
    padding-top: 50px;
    /* height: 900px; */
}

.info-sec {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.info-sec>.aside {
    width: 40%;
    padding-top: 50px;
}

.info-sec>.aside>a{
    width: 60%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.all_order {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.aside>.active {
    background-color: #FEDC5E;
    border: none;
}

.aside>a {
    display: block;
    width: 100px;
    line-height: 50px;
    text-align: center;
    background-color: white;
    border: 1px solid lightgray;
    box-sizing: border-box;
    margin: 10px 0;
}



/* @media screen and (min-width: 768px){
    
    .aside{
        width: 40%;
    }
    
    .aside>a {
        display: block;
        width: 60%;
        line-height: 50px;
        text-align: center;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 4px;
        box-sizing: border-box;
        margin: 10px 0;
    }
    
    .aside>.active {
        background-color: #FEDC5E;
        border: none;
        border-radius: 4px;
    }
    
} */


/* ---------------aside結束---------------- */

.product_list,
.user_information {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0 20px;
    border: 1px solid #6F6F6F;
    border-radius: 4px;
    padding: 10px;
}

.product_list{
    margin-bottom: 20px;
}

.bottom_line {
    width: 100%;
    border: 0;
    height: 1px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.img_and_text {
    display: flex;
    width: 100%;
    text-align: center;
}

.fir, .sec, .thr, .four{
    font-size: .9rem;
    letter-spacing: 0.03em;
    font-weight: 400;
    padding: 8px 0;
}

.img_and_text .fir{
    width: 60%;
}

.img_and_text .fir1{
    text-align: left;
}

.img_and_text .fir span{
    display: inline-block;
}

.img_and_text .sec{
    width: 18%;
}

.img_and_text .thr{
    width: 15%;
}

.img_and_text .four{
    width: 18%;
}

.product-total{
    display: flex;
    justify-content: flex-end;
}

.price-box{
    text-align: right;
}

.price-box p{
    padding: 5px 10px 5px 0;
}




/* .user_information {
    width: 90%;
    border-radius: 4px;
    margin: 10px auto;
    padding: 8px;
} */


.another_bottom_line {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(165, 165, 165, 0.50);
}

.price-title{
    padding-right: 10px;
}

.user_information ul li {
    display: flex;
    justify-content: space-between;
}

.user_information ul p {
    line-height: 25px;
}

.text_bold {
    font-weight: 500;
    font-size: 1.1em;
    margin-top: 10px;
}

.user_information p:nth-child(2) {
    width: 75%;
}

.back-box{
    position: relative;
    display: flex;
    width: 100%;
    height: 110px;
    text-align: right;
}

.back-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    padding: 20px 0 50px 0;
    
}

.back-btn a{
    display: block;
    width: 100%;
    line-height: 40px;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: .08rem;
    border-radius: 50px;
    background-color:#007f4e;
    color: white;
    text-align: center;
}

/* button {
    border: 0;
    background-color: transparent;
    outline: none;
    align-self: flex-end;
    background-color: #007f4e;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
} */

/* button a {
    display: block;
    width: 100%;
    line-height: 40px;
    font-size: 1rem;
    color: white;
    outline: none;
    font-size: 14px;
} */

.user_information ul li p {
    line-height: 32px;
    letter-spacing: 0.03rem;
}


@media screen and (max-width: 768px) {

    /* #content{
        height: 960px;
    } */

    .info-sec{
        flex-direction: column;
        width: 90%;
        /* margin: 0px auto 30px auto; */
    }
    .info-sec>.aside {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 20px;
        justify-content: space-around;
    }
    .info-sec>.aside>a {
        margin: 0 0;
        width: 50%;
        display: block;
        border-radius: 0;
    }

    .product_list, .user_information{
        padding: 0;
        width: 100%;
    }
    
    .img_and_text{
        width: 95%;
        align-items: center;
    }
    
    .img_and_text .fir1{
        text-align: center;
    }

    .img_and_text span{
        padding: 8px 0;
    }

    .product-total{
        width: 98%;
        padding-bottom: 8px;
    }

    .img_and_text .fir{
        width: 60%;
    }
    
    .fir, .sec, .thr, .four, .product-total{
        font-size: .9rem;
    }
  
    .user_information ul p {
        line-height: 25px;
        margin-left: 8px;
    }


}