body{
	/* background-color: #cccccc; */
    font-family: "微軟正黑體";
    position: relative;
  }

.breadcrumb-item>li{
    display: inline-block;
    color: #8d8c8c;
    padding: 0 3px;
    font-weight: lighter;
}

.breadcrumb-item>li>a{
    list-style-type: none;
    text-decoration: none;
    color: #8d8c8c;
    font-size: 8px;
    font-weight: normal;
}

.content{
    /* background-color: rgb(207, 255, 180); */
    width: 500px;
    text-align: center;
    position: relative;
    margin: 40px auto;
}

.content>h1{
    background-color:#FEDC5E;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 10px;
}

.input-mail{
    border-bottom: 1px solid rgb(173, 173, 173);
    text-align: left;
    padding: 40px 0 2px 0;
    margin: 0 80px 40px 80px;
}

.input-mail>p{
    font-size: 6px;
    letter-spacing: 1px;
    margin: 0;
    color: #aaaaaa;
    font-weight: 100;
}

button{
    background-color: rgb(255, 59, 59);
    width: 50%;
    border: none;
    border-radius: 2px;
    padding: 14px 0;
    font-size: 14px;
    font-weight: normal;
    color: white;
}

.deepred{
    background-color: rgb(218, 0, 0);
    width: 50%;
    border: none;
    border-radius: 2px;
    padding: 14px 0;
    font-size: 14px;
    font-weight: normal;
    color: rgb(43, 43, 43);
}




