h
/*以下為header區*/
/*以下為header區*/
/*以下為header區*/
header{
    height: 110px;
    width: 100%;
/*    background-color: white;*/
    background-color: antiquewhite;
}
header .container{
    max-width: 1140px;
    margin: auto;
    padding: 5px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    background-color: aqua;*/
}
header .logo img{
    height:65px;
}
header .nav{
    height: 20px;
    width: 50%;
    
}
.header-menu{
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.header-menu>li{
    text-align: center;
}
.header-menu>p{
    border-right: 1px solid black;
}
header .member-cart{
    height: 20px;
    width: 50px;
    font-size: 1em;
    
    display: flex;
    justify-content: space-between;
}
header .member>a,.cart>a{
    display: flex;
    justify-content: flex-start;
}
header .member p,.cart p{
    padding-right: 5px;
}
/*以下為footer區*/
/*以下為footer區*/
/*以下為footer區*/
footer{
    background-color: #FEDC5E;
    height: 230px;
    
    display: flex;
    justify-content: center;
    align-items:center;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.footer-menu>li{
    padding-bottom: 10px;
    font-size: 0.9em;
}
.footer-line{
    border-right: 1px solid black;
    height: 70px;
    margin: 0 30px;
}
.footer-info>p{
    font-size: 0.9em;
    margin-bottom: 13px;
}
.footer-down-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.footer-icon{
    font-size: 1.25em;
}
.copyright{
    display: flex;
    font-size: 0.8em;
}
