.product_wrapper{
    font-family: "微軟正黑體";
    margin:0;
    width: 100%;
    background-color: #FFFBED;
}
.product_wrapper>.product_container {
    max-width: 1140px;
    margin: auto;
    padding: 0px 30px;
}
.product_start{
    display: flex;
    justify-content: space-between;
}
.product_sidemenu_block{
    /* width: 19%; */
    flex-basis: 19%;
    height: 900px;
    background-color: bisque;
    padding-top: 10px;
}
.menu_title{
    font-size: 25px;
    padding-bottom: 30px;
}
.product_sidemenu{
    text-align: center;
}
.product_sidemenu .menu_title a{
    display: block;
    transition: all 200ms ease-in;
}
.product_sidemenu .menu_title>a:hover{
    font-size: 1.1em;
}
.product_sidemenu .menu_title .submenu a:hover{
    color: #007F4E;
}
.product_sidemenu .submenu{
    display: none;
}
.product_sidemenu .submenu li{
    margin-bottom: 10px;
}
.product_sidemenu .submenu li:first-child{
    padding-top: 20px;
}
.product_sidemenu .submenu li a{
    display: block;
    font-size: 0.72em;
    text-align: center;
    padding-left: 15px;
    color:black;
}
.product_list_block{
    flex-basis: 81%;
    height: 900px;
    background-color: chocolate;
}
.product_area{
    width: 100%;
    height: 87%;

    margin-right: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: cadetblue;
}
.button_area{
    width: 100%;
    height: 13%;
    background-color: darksalmon;
    margin-right: 90px;
}
.product_area .product{
    min-width: 260px;
    height: 365px;
    flex-basis: calc(100% / 3 - 30px);
    margin: 10px;
    background-color: cornsilk;
}
.product .flex_product{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.product  img{
    height: 260px;
}
.product .product_name{
    font-size: 16px;
} 
.product .product_price{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
} 

.qty-input{
    border: 1px solid black;
    border-radius: 5px;
	height: 30px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left:0;
    overflow: hidden;
}
.qty-input i{
    cursor: pointer;
	font-family: serif;
	height: 30px;
	/* float: left; */
	line-height: 30px;
	text-align: center;
	user-select: none;
	transition: all 150ms ease-out;
    width: 15%;
    background-color: white;
}	
input{
    width: 70%;
    border: 0px solid;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
	font-size: 24px;
	text-align: center;
	outline: none;
}	
.product_quantity_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product .product_quantity_block .add_to_cart i{
    font-size: 25px;
    color: #007F4E
}

	
	


