.product_wrapper{
    font-family: "微軟正黑體";
    margin:0;
    width: 100%;
    background-color: #FFFBED;
}
.product_wrapper>.product_container {
    max-width: 1140px;
    margin: auto;
    padding: 0px 30px;
}
.product_start{
    display: flex;
    justify-content: space-between;
    height: 950px;
}
.product_sidemenu_block{
    flex-basis: 19%;
    background-color: bisque;
    padding-top: 10px;
}
.menu_title{
    font-size: 25px;
    padding-bottom: 30px;
}
.product_sidemenu{
    text-align: center;
    padding-top: 10px;
}
.product_sidemenu .menu_title>a{
    display: block;
    transition: all 200ms ease-in;
}
.product_sidemenu .menu_title>a:hover{
    font-size: 1.1em;
}
.product_sidemenu .menu_title .submenu a:hover{
    color: #007F4E;
}
.product_sidemenu .submenu{
    display: none;
}
.product_sidemenu .submenu li{
    margin-bottom: 10px;
}
.product_sidemenu .submenu li:first-child{
    padding-top: 20px;
}
.product_sidemenu .submenu li a{
    display: block;
    font-size: 0.72em;
    text-align: center;
    padding-left: 15px;
    color:black;
}
.product_list_block{
    flex-basis: 81%;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
}
.product_area{
    flex-basis: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 2;
    background-color: cadetblue;
}
@media(max-width:620px){
    .product_sidemenu .menu_title>a{
        font-size: 20px;
        display: block;
        transition: all 200ms ease-in;
    }
    .product_list_block{
        flex-basis: 81%;
        height: 900px;
    }
    .product_area{
        width: 100%;
        height: 87%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-grow: 1;
        /* overflow-y:auto; */
        background-color: cadetblue;
    }
}

.button_area{
    /* width: 100%; */
    flex-basis: 10%;
    background-color: darksalmon;
    margin-right: 90px;
}
.product_area .product{
    min-width: 160px;
    height: 375px;
    flex-basis: calc(100% / 3 - 30px);
    margin: 10px;
    margin-bottom: 30px;
    background-color: cornsilk;
}

@media(max-width:620px){
    .product_area .product{
        min-width: 160px;
        height: 280px;
        flex-basis: calc(100% / 3 - 30px);
        margin: 10px;
        margin-bottom: 30px;
        background-color: cornsilk;
    }
}

.product .flex_product{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.product .image{
    width: 100%;
}
.product  img{
    width: 100%;
}
.product .product_name{
    font-size: 16px;
} 
.product .product_price{
    font-size: 20px;
    padding-top: 8px;
    padding-left: 10px;
} 

.qty-input{
    border: 1px solid black;
    border-radius: 5px;
	height: 30px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left:0;
    overflow: hidden;
}
.qty-input div{
    cursor: pointer;
	font-family: serif;
	height: 30px;
	line-height: 30px;
	text-align: center;
	user-select: none;
	transition: all 150ms ease-out;
    width: 15%;
    min-width: 20px;
    background-color: white;
}	
input{
    width: 70%;
    border: 0px solid;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
	font-size: 24px;
	text-align: center;
	outline: none;
}	
.product_quantity_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product .product_quantity_block .add_to_cart i{
    font-size: 24px;
    color: #007F4E;
    line-height: 30px;
}
.button_area{
    position: relative;
}
.back_button{
    cursor: pointer;
    position: absolute;
    width: 14%;
    min-width: 65px;
    height: 30px;
    background-color: #007F4E;
    line-height: 30px;
    text-align: center;
    right: 5%;
}
	


