
.store_wrapper>.store_container {
    padding: 0;
    padding: 0 15px;
}

.status{
    position: relative;
    margin: auto;
    max-width: 180px;
    width: 100%;
    height: 25px;
}

.order-box{
    max-width: 700px;
    margin: auto;
}

.status-line{
    border: 0;
    height: 2px;
    background: #fedc5e;
}

.block{
    position: absolute;
    top: -40%;
    background-color: #fedc5e;
    width: 19px;
    line-height: 19px;
    text-align: center;
    border-radius: 50%;
    color: white;
    border: 2px solid #fedc5e;
}

.block1{
    left: -7%;
}

.block2, .block3{
    color: #fedc5e;
    border: 2px solid #fedc5e;
    background-color: #fffbed;
}

.block2{
    left: 40%;
}

.block3{
    left: 91%;
}

.status-word{
    display: flex;
    max-width: 220px;
    width: 100%;
    margin: auto;
    font-size: .08rem;
    letter-spacing: .03rem;
    justify-content: space-between;
    color: #808080;
    margin-bottom: 30px;
}


.title-name {
    display: none;
}

.or-line{
    border: 0;
    height: 1px;
    width: 90%;
    background-color: rgb(255, 242, 199);
}

.pic-word-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-word-box> .pic {
    width: 120px;
    height: 120px;
    margin-right: 15px;
}

.pic-word-box> .pic > img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.fir, .sec, .thr{
    display: flex;
    width: 100%;
    height: 150px;
}

.fir{
    position: relative;
}


.word{
    position: relative;
    width: 60%;
    line-height: 100%;
}


.pd-title {
    font-size: .8rem;
    font-weight: 100;
    letter-spacing: .05rem;
    font-weight: bolder;
    color: #292929;
    padding-right: 20px;
}

.pic-word-box .pd-describe {
    font-size: .1rem;
    letter-spacing: .08rem;
    line-height: 150%;
    padding: 0 10px;
    font-weight: 500;
    color: #5c5c5c;
}

.two{
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .03rem;
    margin: 8px;
}


.qty-input>.less, .qty-input>.more{
    color: #454545;
    width: 50px;
    line-height: 20px;
    padding: 0 6px;
    background: none;
}

.qty-input{
    margin: 0;
    border: none;
	height: 20px;
    width: 180px;
    margin-top: 35px;
}


.qty-input div{
    cursor: pointer;
	font-family: serif;
	height: 20px;
	line-height: 20px;
	text-align: center;
	user-select: none;
	transition: all 150ms ease-out;
    width: 15%;
    min-width: 20px;
}	

input{
    width: 120px;
    border: .5px solid #c4c4c4;
    background: none;
	font-size: .8rem;
	text-align: center;
	outline: none;
    color: #454545;
    font-weight: 500;
}	

.four>i{
    position: absolute;
    color: #6d6d6d;
    top: 1%;
    left: 90%;
}

.pay-box{
    position: relative;
    max-width: 0 15px;
    width: 100%;
    height: 200px;
    margin: auto;
    padding-top: 10px;
}

.am-btn-box{
    display: flex;
    margin: auto;
}

.buy-btn{
    width: 40%;
    padding: 0 30px 0 20px;
    margin: auto;
}

.buy-btn>a, .pay-btn>a{
    display: block;
    width: 100%;
    line-height: 35px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .08rem;
    border-radius: 50px;
    border: 1px solid #007f4e;
    text-align: center;
}

.buy-btn>a{
    color: #007f4e;
}

.pay-btn{
    padding: 0 20px 0 30px;
}

.pay-btn>a{
    margin-top: 20px;
    background-color: #007f4e;
    color: white;
}


.vertical{
    width: 2px;
    height: 140px;
    border-radius: 2px;
    background-color: #fedc5eff;
    margin: auto;
}

.amount{
    /* background-color: rgb(245, 195, 101); */
    width: 60%;
    line-height: 200%;
    font-size: .08rem;
    letter-spacing: .05rem;
    font-weight: 300;
    margin: auto;
}

.up-price, .mid-price, .last-price{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 30px;
}

.up-price span, .mid-price span, .last-price span{
    font-size: 1.2rem;
}

.up-price>.oth-color, .mid-price>.oth-color{
    color: #b8b8b8;
}





/* .amount{
    display: flex;
    background-color: rgb(253, 141, 141);
    width: 160px;
    justify-content: space-between;
    margin-left: 170px;
}

.amount>div>p{
    font-size: .2rem;
    letter-spacing: .03rem;
    line-height: 200%;
}

.amount>div>p>span{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: right;
}

.buy-btn>input{
    position: absolute;
    top: 14%;
    width: 90px;
    line-height: 30px;
    border-radius: 4px;
} */






/*
@media screen and (min-width: 768px) {
    .order-box {
        background-color: rgb(255, 152, 152);
    }

    .title-name {
        display: flex;
        background-color: rgb(181, 253, 181);
        margin: auto;
    }
    
    .pic-word-box>.pic{
        width: 150px;
        height: 150px;
    }
    
    .pic-word-box>.pic>img{
        width: 100%;
        height: 100%;
    }

    .one {
        width: 40%;
        text-align: center;
    }

    .three{
        width:30%;
        text-align: center;
    }
    
    .two, .four{
        width: 15%;
        text-align: center;
    }

    .fir, .sec, .thr {
        display: flex;
    }

}
*/
