body{
    font-family: "微軟正黑體";
    margin:0;
    min-width: 565px;
}
.store_wrapper{
    width: 100%;
    background-color: #FFFBED;
}
.store_wrapper>.store_container {
    max-width: 1140px;
    margin: auto;
    padding: 0px 30px;
}

.flex_item{
    display: flex;
}
hr.divider {
    border: 0;
    height: 1.5px;
    background: #FFDF6A;
    margin-top: 78px;
    flex-basis: 480px;
    flex-grow: 2;
    flex-shrink: 2;
}
.heading_title>.fas {
    color: #007F4E ;
}
.far{
    color: #007F4E ;
}
.heading_title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding:65px 0px 80px;
    width: 180px;
    background-color: #FFFBED;
    margin: auto;
    flex-basis: 180px;
    flex-grow: 1;
    flex-shrink: 1;
}
.breadcrumb-item{
    display: flex;
    justify-content: flex-start;
    padding-top:59px;
    /* padding: 59px 0px 0px 30px; */
}
.breadcrumb-item>li{
    /* display: inline-block; */
    padding: 0 3px;
    color:black;
    font-size: 0.9em;
    
}
.breadcrumb-item>li>a{
    list-style-type: none;
    text-decoration: none;
    font-size: 0.9em;
    color:black;
    font-weight: normal;
}
.store_list{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.stores{
    background-color: white;
    box-shadow: 5px 5px 0px rgba(255, 223, 106, 0.3);
    width: 505px;
    height: 230px;
    border-radius: 10px;
    margin-bottom: 80px;
    transition: all 0.5s linear;
    flex-shrink: 1;
}
.stores:hover{
    box-shadow: 5px 5px 0px rgba(150, 120, 10, 0.3);
}
.stores .border{
    width: 445px;
    height: 180px;
    margin: 25px 30px;
    display: flex;
    justify-content: space-between;
}
.border img{
    height: 180px;
    border-radius: 3px;
}
.description{
    height: 180px;
    width: 180px;
    position: relative;
}
.strores_name{
    font-size: 18px;
    width: 80px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
    color:white;
    background-color: #007F4E;
    position: absolute;
    bottom: 95px;
}
.information{
    font-size:14.5px;
    line-height: 20px;
    position: absolute;
    bottom: 0;
}
#footer{
    min-width: 565px;
}